<div class="login-container">
    <h1>Login</h1>
    <div class="login-box login-box-two">
        <form>
            <div>
                <label for="">UserName :</label>
                <input type="text" placeholder="username" />
            </div>
            <div class="" style="margin-top: 12px;">
                <label for="" class="">Password :</label>
                <input type="text" placeholder="Password" />
            </div>

        </form>
        <button class="login-next-btn" style="margin-top: 20px;" routerLink="dashboard" >Next</button>

    </div>
    <p>Don't have an account? <a href="#">Sign Up</a></p>
</div>